cat_dog_classification_VGG16_2024_06_01__021235.keras
cats_and_dogs/
logs/
mlartifacts/
mlruns/
test_images/
venv/

cat_dog_classification_MobileNet_2024_05_31__212637.keras
cat_dog_classification_MobileNet_2024_05_31__222834.keras
cat_dog_classification_MobileNet_2024_06_01__020001.keras

cat_dog_classification_ResNet50_2024_05_31__220718.keras
cat_dog_classification_ResNet50_2024_06_01__001028.keras
cat_dog_classification_ResNet50_2024_06_01__044149.keras

cat_dog_classification_VGG16_2024_05_31__213207.keras
cat_dog_classification_VGG16_2024_05_31__224143.keras
cat_dog_classification_VGG16_2024_06_01__021235.keras

updates.ipynb

MobileNet_model.png
ResNet50_model.png
VGG16_model.png
